<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension id="ExportToCsv"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Export to CSV"/>
        <class value="edu.stanford.protege.csv.export.ExportAction"/>
        <toolTip value="Export selected entities to a CSV file"/>
        <path value="org.protege.editor.owl.menu.tools/SlotQ-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
</plugin>